/* 0. Global settings */

html,
body {
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
}

div {
    user-select: none;
}

/* 1. Layout */

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#tool-bar {
    border-bottom: 1px solid black;
}

#canvas {
    flex: 1 1 auto;
}

#status-bar {
    border-top: 1px solid black;
    padding: 10px 5px;
    font-size: 11pt;
}