/* 0. Global settings */

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

/* 1. Layout */

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#tool-bar {
    border-bottom: 1px solid black;
    height: 10px;
}

#canvas {
    flex: 1 1 auto;
}

#status-bar {
    border-top: 1px solid black;
}